{# Params #}

{# Variables #}
{% set entryImage = entry.image.one %}

{% extends '_layout' %}

{# Markup #}
{% block content %}
<article class="news-page">
  <div class="news-page__container">
    <img src="{{ entryImage.url }}" alt="{{ entryImage.title }}" class="news-page__hero" />
  
    <h1 class='news-page__title'>
      {{ entry.title }}
      {% if entry.newsCategory is not empty %}
        <br />
        <span>
          Category: {{ entry.newsCategory.one }}
        </span>
      {% endif %}
    </h1>
    
    <p class="news-page__copy">
      {{ entry.copy }}
    </p>
  </div>
</article>
{% endblock %}