{# Params #}
{% set herousel = herousel|default(null) %}

{# Variables #}

{# Markup #}
<article class='herousel' id='herousel'>
  <div class='herousel__cont'>
    {% if herousel is not null %}
      <section class='herousel__controls'>
        {# TODO: Consider removing unneeded classes (shift-button has js-hook) #}
        {% include "components/_shift-button" with {
          classNames: 'herousel__controls__btn btn-prev',
          shiftDirection: 'prev'
        } %}
        {# TODO: Consider removing unneeded classes (shift-button has js-hook) #}
        {% include "components/_shift-button" with {
          classNames: 'herousel__controls__btn btn-next',
          shiftDirection: 'next'
        } %}
      </section>

      {% for slide in herousel.herouselSlides.all %}
        {% if slide.type == 'internal' %}
          {% set entryLink = slide.entryLink.one %}
          {% set slideImage = entryLink.image.one %}
          {% set slideCategory = entryLink.newsCategory.one %}
          {% set slideTitle = entryLink.title %}
          {% set slideTeaserCopy = entryLink.teaserCopy %}
        {% else %}
          {% set slideImage = slide.image.one %}
          {% set slideCategory = slide.slideCategory %}
          {% set slideTitle = slide.title %}
          {% set slideTeaserCopy = slide.teaserCopy %}
        {% endif %}
        {% set activeClass = loop.index == 1 ? ' active' : '' %}

        <article class="herousel__slide{{ activeClass }}">
          {% if slideImage is not null %}
            <img
              class='herousel__slide__featured-image'
              src='{{ slideImage.url }}'
              alt='{{ slideImage.title }}'
            />
          {% endif %}

          <section class='herousel__slide__content'>
            <h2 class='herousel__slide__content__category'>
              {{ slideCategory }}
            </h2>
  
            <h3 class='herousel__slide__content__title'>
              {{ slideTitle }}
            </h3>
  
            <p class='herousel__slide__content__copy'>
              {{ slideTeaserCopy }}
            </p>

            {% if slide.ctaLink is not empty %}
              <a href='{{ slide.ctaLink }}' class='herousel-slide__content__link link__btn--blue' target="_blank">
                {{ slide.ctaCopy }}
              </a>
            {% else %}
              <a href='{{ slide.entryLink.one.url }}' class='herousel-slide__content__link link__btn--blue'>
                Learn More
              </a>
            {% endif %}
          </section>

          <div class='clearfix'></div>
        </article>
      {% endfor %}
    {% else %}
      <p>
        There seems to be no data for a herousel.
      </p>
    {% endif %}
  </div>
</article>